
*{
    margin: 0;
    box-sizing: border-box;
}

html {

  background-color: #F2F2F2;
  font-family: "Open Sans", sans-serif;

}
/* xs */
@media (min-width: 300px) {

  .h2_section {
    font-size: 26px;
    margin: 0.5em 0.5em;
  }
}

@media (min-width: 640px) {

    .h2_section {
      font-size: 32px;
  }
}