

 /* Small screen */
 @media (min-width: 100px) {
    .container_about {
        text-align: left;
        align-items: center;
        display: flex;
        flex-flow: column;
        gap: 1em;
        margin-bottom: 5em;
        padding: 2rem;
        background-color: black;
        color: white;
    }

    .h1_about{
        text-transform: uppercase;
        letter-spacing: -.05em;
        line-height: .9;
        font-size: 38px;
        margin: .05em 1em;
    }

    .h2_about {
        font-size: 20px;
        margin: 0.5em 0.5em;
      }


    .p_about {
        font-size: 0.9em;
        margin: 1em 1em;
        width: 350px;
    }
}
  
/* Medium Screen */

@media (min-width: 640px) {

    .container_about {
        padding-top: 2em;
    }
    
    .p_about {
        font-size: 1em;
    }
}

/* Large Screen */
@media (min-width: 1024px) {

    .container_about {
        flex-flow: row;
        align-items: center;
        justify-content: center;
        padding-top: 4em;
        text-align: left;
    }

    .h2_about {
        font-size: 40px;
        margin: 0.5em 0.4em;
    }


    .container_left_about{
        margin-left: 6em;
    }

    .p_about {
        font-size: 0.9em;
    
    }
}      
