
/* xs - 100px */

@media (min-width: 100px) {
    .container_contact {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        color: black;
        gap: 1em;
        width: 100%;
        }
        
        .social_contact {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }

        .social_contact img{
            width: 40px;
        }

        .h3_contact {
            margin-top: 1em;
        }
    
        .p_contact {
            width: 350px;
            font-size: 0.9em;
            font-weight: 300;
        }
    
        .contact_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            color: black;
            text-align: center;
            text-decoration: none;
            border-radius: 8px;
            margin-top: 1em;
            margin-bottom: 2em;
            transition: transform 0.3s ease-in-out;
            font-weight: 600;
          }
    
          .contact_btn:hover {
            opacity: 80%;
          }
    
    }
      
    /* sm  - 640px */
    
    @media (min-width: 640px) {
    
        .h3_contact {
            margin-top: 2em;
            font-size: 1.6em;
        }
    
        .p_contact {
            width: 400px;
            font-size: 0.9em;
        }
    
    }
    
        /* md */
        @media (min-width: 1024px) {
            .p_contact {
                width: 600px;
                font-size: 1em;
            }
    }      
    